body {
    font-size: 15pt;
    background-color: #000030;
    color: white;
}

.title {
    color: yellow;
    display: block;
    font-family: "Libre Baskerville", serif;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 0px;
}

.mk {
    text-align: right;
    margin-right: 25%;
    font-size: 1.5rem;
    margin-top: 0%;
    color: darkgrey;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

/* First Quote*/

.div1  {
    width: 20%;
    margin-left: 10%;
    margin-top: 30px;
}

.divc {
    background-color: white;
    padding: 2%;
}

.img1  {
    width: 100%;
    margin-top: 1%;
    border-radius: 10px 10px 0px 0px;

}

.h21 {
    text-align: center;
}

.h21 {
    margin: 0%;
    margin-top: 0px;
    font-family: "Libre Baskerville ", serif;
    font-weight: 900;
    font-size: 0.88rem;
    color: black;
}

.p1 {
    font-family: "Libre Baskerville", serif;
    text-align: center;
    font-size: 0.7rem;
    margin-top: ;
    color: white;
}

.dsc1 {
    text-align: center;
    font-size: 0.7rem;
    margin-top: 30px;
    color: skyblue;
}

footer {
    background-color: #103080;
    text-align: center;
    margin-top: 80%;
}


/* Second Quote 

.div2 {
    width: 20%;
    margin-left: 10%;
    margin-top: 30px;
}

.img2 {
    width: 90%;
    margin-left: 5%;
    border: 1px solid white;
    
}

.h22 {
    text-align: center;
}

.h22 {
    font-family: "Libre Baskerville ", serif;
    font-weight: 300;
    font-size: 1.2rem;

}

.p2 {
    text-align: center;
    font-size: 0.7rem;
    margin-top: -10px;
}

/* Third Quote

.div3 {
    width: 20%;
    margin-left: 10%;
    margin-top: 30px;
}

.img3 {
    width: 90%;
    margin-left: 5%;
    border: 1px solid white;
    
}

.h23 {
    text-align: center;
}

.h23 {
    font-family: "Libre Baskerville ", serif;
    font-weight: 300;
    font-size: 1.2rem;

}

.p3 {
    text-align: center;
    font-size: 0.7rem;
    margin-top: -10px;
}

/* Fourth Quote

.div4 {
    width: 20%;
    margin-left: 10%;
    margin-top: 30px;
}

.img4 {
    width: 90%;
    margin-left: 5%;
    border: 1px solid white;
    
}

.h24 {
    text-align: center;
}

.h24 {
    font-family: "Libre Baskerville ", serif;
    font-weight: 300;
    font-size: 1.2rem;

}

.p4 {
    text-align: center;
    font-size: 0.7rem;
    margin-top: -10px;
}

/* Fifth Quote

.div5 {
    width: 20%;
    margin-left: 10%;
    margin-top: 30px;
}

.img5 {
    width: 90%;
    margin-left: 5%;
    border: 1px solid white;
    
}

.h25 {
    text-align: center;
}

.h25 {
    font-family: "Libre Baskerville ", serif;
    font-weight: 300;
    font-size: 1.2rem;

}

.p5 {
    text-align: center;
    font-size: 0.7rem;
    margin-top: -10px;
}

/* Sixth Quote

.div6 {
    width: 20%;
    margin-left: 10%;
    margin-top: 30px;
}

.img6 {
    width: 90%;
    margin-left: 5%;
    border: 1px solid white;
    
}

.h26 {
    text-align: center;
}

.h26 {
    font-family: "Libre Baskerville ", serif;
    font-weight: 300;
    font-size: 1.2rem;

}

.p6 {
    text-align: center;
    font-size: 0.7rem;
    margin-top: -10px;
}

/* Seventh Quote

.div7 {
    width: 20%;
    margin-left: 10%;
    margin-top: 30px;
}

.img7 {
    width: 90%;
    margin-left: 5%;
    border: 1px solid white;
    
}

.h27 {
    text-align: center;
}

.h27 {
    font-family: "Libre Baskerville ", serif;
    font-weight: 300;
    font-size: 1.2rem;

}

.p7 {
    text-align: center;
    font-size: 0.7rem;
    margin-top: -10px;
}

/* Eighth Quote

.div8 {
    width: 20%;
    margin-left: 10%;
    margin-top: 30px;
}

.img8 {
    width: 90%;
    margin-left: 5%;
    border: 1px solid white;
    
}

.h28 {
    text-align: center;
}

.h28 {
    font-family: "Libre Baskerville ", serif;
    font-weight: 300;
    font-size: 1rem;

}

.p8 {
    text-align: center;
    font-size: 0.7rem;
    margin-top: -10px;
} */


@media (min-width: 319px) and (max-width: 480px) {
   
    .main {
        display: block;
    }
    
    .head {
        width: 100%;
        position: fixed;
        left: 0%;
        top: 0%;
        padding: 1%;
        margin: 0%;
        color: yellow;
        background-color: #000030;
    }

    .title {
        margin: 0%;
        font-size: 2.2rem;
    }
    
    .mk {
    margin-bottom: 0%;
    text-align: right;
    margin-right: 10%;
    font-size: 0.8rem;
    color: darkgrey;
       }
    
    .div1  {
    width: 100%;
    margin-left: 0%;
           }
    
    .div11 {
    margin-top: 22%;
    }
         
    .divc {
        padding: 1%;
    }     
         
    .img1 {
    margin-top: 0%;
    width: 100%;
    margin-left: 0%;
    }
    
    
    
    .p1 {
        width: 90%;
        font-size: 1rem;
        margin-left: 5%;
        margin-top: 5%;
        text-align: justify;
    }
    
    footer{
        font-size: 0.7rem;
        margin: 50% 0% 0% 0%;
    }
}
